<div class="header">
  <h5>Your Todos:</h5>
  <button mat-flat-button (click)="openCreateDialog()">
    <mat-icon>add</mat-icon>
    Create
  </button>
</div>
<div class="content">
  @if(isLoading()){
  <mat-spinner></mat-spinner>
  }@else {
  <app-todo-list [todos]="todos()"></app-todo-list>
  }
</div>
<mat-paginator
  [disabled]="isLoading()"
  (page)="handlePageEvent($event)"
  [length]="length()"
  [pageSize]="5"
  [showFirstLastButtons]="true"
  [hidePageSize]="true"
  [pageIndex]="pageIndex()"
>
</mat-paginator>
